block scripts
	link(rel='stylesheet', href='/js/simulator/nouislider/nouislider.css')
	script(src='/js/simulator/nouislider/nouislider.min.js')
	link(rel='stylesheet', href='/js/simulator/simulator.css')
	script(src='/js/simulator/kidbright32/ldr.js')
	script(src='/js/simulator/kidbright32/lm73.js')
	script(src='/js/simulator/kidbright32/ports.js')
	script(src='/js/simulator/kidbright32/button12.js')
	script(src='/js/simulator/kidbright32/sound.js')
	script(src='/js/simulator/kidbright32/mcp7940n.js')
	script(src='/js/simulator/netpie/kbiot.js')
	script(src='/js/simulator/simulator.js')
	script(src='/js/simulator/JS-Interpreter/acorn.js')
	script(src='/js/simulator/JS-Interpreter/interpreter.js')

.modal-simulator.modal.fade
	.modal-dialog(style="width:1300px; margin: auto")
		.modal-content
			.modal-header
				button.close x
				//h4 Simulator
			.modal-body
				.bubble(style="margin-left: 280px;padding-left: 10px;padding-right: 10px")
					span.tail-bottom#temperature-tail-bottom &nbsp;
					div(style="padding: 4px;text-align: center")
						span(style="font-weight: bold") อุณหภูมิโดยรอบ (Ambient Temperature)
						div.slider
							div.range#temperature
				.bubble(style="margin-left: 40px;padding-left: 10px;padding-right: 10px")
					span.tail-bottom#light-tail-bottom &nbsp;
					div(style="padding: 4px;text-align: center")
						span(style="font-weight: bold") ความเข้มแสงโดยรอบ (Ambient Light)
						div.slider
							div.range#light

				div(style="height: 16px")

				.shadows(style="text-align:center;padding: 10px")
					object(data="/js/simulator/kidbright32_v12.svg",type="image/svg+xml")#svgDoc
			//.modal-footer
				//button(data-dismiss="modal")#close.btn.btn-primary Close
